* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.flexcontainer {
  display: flex;
  background-color: rgb(240, 121, 9);
  justify-content: center;
}
.social div span {
  color: white;
  font-family: cursive;
  font-style: italic;
  font-size: 3vw;
}
.social div {
  text-align: center;
  padding: 0.5vw;
}
.social div i {
  margin: 0.5vw;
}
.social {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, black, grey);
}
.mainimage a {
  background-color: rgba(253, 154, 5, 0.959);
  font-size: 2vw;
  padding: 5px 5px;
  color: white;
}
.mainimage div {
  transform: translateY(32vw);
}
.mainimage {
  background-repeat: no-repeat;
  width: 100%;
  height: 40vw;
  background-size: cover;
  text-align: center;
  background-image: url(/BurgerKingLayoutClone/images/homebackground.jpg);
}
.findstore {
  background-repeat: no-repeat;
  width: 100%;
  height: 22vw;
  background-size: cover;
  background-image: url(/BurgerKingLayoutClone/images/mapbg.png);
  text-align: center;
}
.locationsearch {
  margin-left: auto;
  margin-right: auto;
  transform: translateY(5vw);
  width: 50vw;
  height: 9vw;
  background-color: whitesmoke;
}
.locationsearch div input {
  border: 2px solid orange;
  width: 30%;
  height: 20%;
  padding: 0.7vw 0.5vw;
}
.locationsearch div span {
  color: black;
  font-family: cursive;
  font-style: italic;
  font-size: 3vw;
}
.locationsearch div button {
  background-color: orange;
  width: 5%;
  height: 20%;
  padding: 0.7vw 0.5vw;
}
.navbar-logo {
  background-repeat: no-repeat;
  background-image: url(/BurgerKingLayoutClone/images/logo.png);
  width: 6.5em;
}
.navbar {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar li {
  float: left;
  margin: 0vw 2vw;
}
.navbar ul {
  flex-wrap: nowrap;
  list-style: none;
}
.navbar li a:link .menu-small {
  color: darkred;
  font-size: 18px;
}
.navbar li a:visited .menu-small {
  color: darkred;
}
.navbar li a:link .menu-big {
  color: white;
  font-size: 40px;
}
.navbar li a:visited .menu-big {
  color: white;
}
.navbar li a:hover .menu-big {
  color: darkred;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5vw;
  font-family: "Times New Roman", Times, serif;
}
.header a {
  margin: 25px;
  color: black;
}
.ourstorybackground {
  background-repeat: no-repeat;
  width: 100%;
  height: 17vw;
  background-size: cover;
  background-image: url(/BurgerKingLayoutClone/images/ourstorybg.jpg);
  text-align: center;
}
.ourstorybackground span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4vw;
  color: white;
}
.ourstorybackground a {
  background-color: rgba(253, 154, 5, 0.959);
  font-size: 2vw;
  padding: 0.5vw 0.5vw;
  color: white;
}
.contactbackground {
  background-repeat: no-repeat;
  width: 100%;
  height: 20vw;
  background-size: cover;
  background-image: url(/BurgerKingLayoutClone/images/friesbg.jpg);
}
.contactbackground span {
  margin-right: 2vw;
  float: right;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5vw;
  color: white;
}
.contactbackground a {
  margin-left: 75vw;
  background-color: saddlebrown;
  font-size: 2vw;
  padding: 5px 5px;
  color: white;
}
.footer {
  text-align: center;
  color: white;
  font-size: 20px;
  width: inherit;
  height: 650px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, black, grey);
}
.options {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.options span {
  font-size: 30px;
  color: white;
}
.options ul li {
  padding: 0.5vw;
  list-style-type: none;
}
.options ul li a {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: white;
}
.footer div i {
  margin: 10px;
}
.footer span {
  font-size: 30px;
}
sub {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}
.backtotop {
  background-color: rgba(253, 154, 5, 0.959);
  font-size: 2vw;
  padding: 5px 5px;
  color: white;
}
