* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.flexcontainer {
  display: flex;
  background-color: rgb(248, 113, 23);
}
.flexcontainer > div {
  margin: 10px;
  padding: 10px;
  width: 20vw;
  height: 60px;
}
div {
  width: 100%;
}
#locationsearch div input {
  border: 2px solid orange;
  width: 200px;
  height: 20%;
  padding: 10px 5px;
}
#locationsearch div span {
  color: black;
  font-family: cursive;
  font-style: italic;
  font-size: 60px;
}
#locationsearch div button {
  background-color: orange;
  widows: 60px;
  height: 20%;
  padding: 10px 5px;
}
#social div span {
  color: white;
  font-family: cursive;
  font-style: italic;
  font-size: 60px;
}
#social div {
  text-align: center;
  padding: 5px;
}
#social div i {
  margin: 10px;
}
#social {
  width: inherit;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, black, grey);
}
#mainimage a:link {
  background-color: rgba(253, 154, 5, 0.959);
  font-size: 2vw;
  padding: 5px 5px;
  color: white;
}
#mainimage div {
  transform: translateY(1300%);
}
#mainimage {
  background-repeat: no-repeat;
  width: 100%;
  height: 40vw;
  background-size: cover;
  text-align: center;
  background-image: url(/BurgerKingLayoutClone/images/homebackground.jpg);
}
#findstore {
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-image: url(/BurgerKingLayoutClone/images/mapbg.png);
  text-align: center;
}

#locationsearch {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(60%);
  width: 33%;
  height: 50%;
  background-color: whitesmoke;
}
#navbar a sup {
  font-size: 20px;
  color: darkred;
}
#navbar a {
  width: 20%;
  color: white;
  font-size: 40px;
}
#navbar a:hover {
  color: darkred;
}
a {
  text-decoration: none;
}
#header a:link {
  margin: 25px;
  color: black;
}
#header a:visited {
  color: black;
}
#header a:hover {
  color: black;
}
#header a:active {
  color: black;
}
#ourstorybackground {
  background-repeat: no-repeat;
  width: 100%;
  height: 17vw;
  background-size: cover;
  background-image: url(/BurgerKingLayoutClone/images/ourstorybg.jpg);
  text-align: center;
}
#ourstorybackground span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5vw;
  color: white;
}
#ourstorybackground a:link {
  background-color: rgba(253, 154, 5, 0.959);
  font-size: 2vw;
  margin-top: 5px;
  padding: 5px 5px;
  color: white;
}
#contactbackground {
  background-repeat: no-repeat;
  width: 100%;
  height: 20vw;
  background-size: cover;
  background-image: url(/BurgerKingLayoutClone/images/friesbg.jpg);
}
#contactbackground span {
  margin-right: 2vw;
  float: right;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5vw;
  color: white;
}
#contactbackground a:link {
  margin-left: 75vw;
  background-color: saddlebrown;
  font-size: 2vw;
  padding: 5px 5px;
  color: white;
}
#footer {
  text-align: center;
  color: white;
  font-size: 20px;
  width: inherit;
  height: 650px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, black, grey);
}
#options {
  padding: 30px;
  display: flex;
}
#options span {
  font-size: 30px;
  color: white;
}
#options ul li {
  padding: 5px;
  list-style-type: none;
}
#options ul li a {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: white;
}
#footer div i {
  margin: 10px;
}
#footer span {
  font-size: 30px;
}
sub {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}
#backtotop {
  background-color: rgba(253, 154, 5, 0.959);
  font-size: 2vw;
  padding: 5px 5px;
  color: white;
}
